@import url("https://fonts.googleapis.com/css2?family=Raleway");

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Raleway";
}

body {
  background: #ffffff;
}

.main {
  position: absolute;
  width: 100vw;
}

nav {
  background: #ffffff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 100px;
}

nav .logoImg {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
}

.container {
  display: flex;
  flex: 1;
  padding: 0 0 0 30px;
  margin-left: 100px;
}

.container li {
  list-style: none;
  padding: 0 15px;
  margin-left: 30px;
}

.container li a {
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  font-family: "Raleway";
  text-decoration: none;
}

@media (max-width: 1245px) {
  nav {
    padding: 0 50px;
  }
}

@media (max-width: 1140px) {
  nav {
    padding: 0px;
  }

  nav .logoImg {
    flex: 2;
    text-align: center;
  }

  nav .container {
    position: fixed;
    z-index: 99;
    top: 70px;
    width: 100%;
    left: -100%;
    height: 100%;
    padding: 10px 50px 0 50px;
    text-align: center;
    display: inline-block;
    transition: left 0.3s ease;
  }

  nav .container li {
    line-height: 40px;
    margin: 30px 0;
  }

  nav .container li a {
    font-size: 20px;
  }
}

.listItem {
  display: flex;
  align-items: center;
}

.items + .items {
  margin-left: 1em;
}

.navButton {
  background: linear-gradient(266.79deg, #0048ff 4.63%, #0096ff 100%);
  padding: 0.75em 1.5em;
  border-radius: 10rem;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.link1 {
  color: #000;
  text-decoration: none;
  margin-right: 30px;
  margin-left: 30px;
}

.links {
  color: #ffffff;
  text-decoration: none;
}

.listItem {
  margin-right: 3%;
  list-style: none;
}
